* {
  margin: 0;
}
main {
  width: 100%;
  font-family: "Mulish", sans-serif;
}
h1,
h3 {
  font-family: "Montserrat", sans-serif;
}
h3 {
  line-height: 2;
}
.container {
  background-color: #cccccc;
  width: 100%;
  margin: auto;
}
.container1 {
  display: flex;
  width: 90%;
  margin: auto;
}
.fstdiv {
  width: 50%;
  padding-left: 50px;
}
.scddiv {
  width: 50%;
  padding-top: 140px;
}
.fstdiv h1 {
  font-size: 40px;
  padding-top: 100px;
}
.fstdiv h3 {
  font-size: 17px;
  padding-bottom: 50px;
}

.scddiv input {
  width: 80%;
  padding: 10px;
  border: none;
}
::placeholder {
  font-family: "Mulish", sans-serif;
  font-size: medium;
  font-weight: bold;
  color: #000000;
}
form button {
  font-size: 13px;
  padding: 10px 20px;
  background-color: #ffffff;
  /* float: right; */
  border: none;
}
